<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Squid Works</title>
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/23121905?v=3&s=200" width="30">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- Footer CSS -->
	<link rel="stylesheet" href="css/Footer-with-logo.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="site">
  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               				<a href="index.html" class="navbar-left"><img src="https://avatars1.githubusercontent.com/u/23121905?v=3&s=200" width="40"></a>

							<a class="navbar-brand" href="index.html">Squid Works</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
					
					<li>
                        <a href="about.html">About</a>
                    </li>
					<li>
                        <a href="how.html">How it Works</a>
                    </li>
					<li>
                        <a href="submit.html">Submit a Problem</a>
                    </li>
					<li>
                        <a href="help.html">Solve a Problem</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
               
     
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container 
		<a href="http://github.com/squidworks/squidworks.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
-->
    </nav>
  {{ content }}

  
</div>
<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="help.html">How to Help</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>What We Do</h5>
                    <ul>
                        <li><a href="training.html">Training</a></li>
                        <li><a href="community.hmtl">Community</a></li>
                        <li><a href="competition.html">Competition</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Other</h5>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="sponsors.html">Our Sponsors</a></li>
                        <li><a href="partners.html">Our Partners</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p> Email us about literally anything. </p>
                </div>
            </div>
        </div>
        <div class="second-bar">
           <div class="container">
                <h2 class="logo"><a href="index.html"> Squid Works</a></h2>
                <div class="social-icons">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </footer>
